.cards1
{
  margin: 20px 0px;
  background-color: #4992FF;
  padding: 5px;
  padding-left: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px #00245bc2;
}
.card_skeleton
{
  display: grid;
  grid-template-columns: 30% 70%;
  justify-content: center;
  align-items: center;
  justify-items: center;
  background-color: #4992FF;
  width: 85vh;
  height: auto;
}
.card-image i
{
  font-size: 160px;
  color: rgba(255, 255, 255, 0.836);
  padding-left: 10px;
}
.card-image
{
  display: grid;
  grid-template-columns: 100%;
  justify-content: center;
  align-items: center;
  justify-items: center;
  height: auto;
  width: 100%;
  margin-top: 20px;
}
h5
{
  font-size: 28px;
  font-weight: 500;
  color: #00255B;
  text-align: left;
}
.card_structure
{
  font-size: 20px;
  padding-left: 10px;
  letter-spacing: normal;
  text-align: left;
  width: 100%;
}

.button_accept
{
  display: grid;
  grid-template-columns: 100%;
  justify-content: center;
  align-items: center;
  justify-items: center;
  height: auto;
}
.button_accept button
{
  height: 40px;
  width: 160px;
  border-radius:20px ;
  border: none;
  background-color: #00255B;
  color: aliceblue;
  padding: 5px;
  font-size: 18px;
  font-weight: 500
}
.card_structure p
{
  font-size: 20px;
  letter-spacing: normal;
  font-weight: 500;
  padding-left: 15px;
  text-align: left;
}
.card_structure hr
{
  margin: 3px 0;
  width: 90%;
}
.button_accept button:hover,.button_accept button:focus
{
  background-color: #003d9aee;
  transition: all ease 0.3s;
}
.cards1:hover
{
  transform: scale(1.015);
  transition: all ease 0.3s;
  box-shadow: 2px 2px 2px 2px #001739;
}